.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr
out/

# Gradle
.gradle/
build/

.idea/
*.iml
out/

*.log
*.png



### Mac OS ###
.DS_Store